language: node_js
node_js:
  - "7"
  - "8"
  - "node"

install:
  - npm install
  - npm install -g codecov

script:
  - npm run lint
  - nyc npm test && nyc report --reporter=text-lcov > coverage.lcov && codecov

services:
  - mongodb

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always
