language: node_js
node_js:
  - "10"
  - "12"
  - "node"

install:
  - npm install
  - npm install -g codecov

script:
  - npm run lint
  - npm run build:production
  - npm run codecov && codecov

services:
  - mongodb

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

cache:
  directories:
    - node_modules
